*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --secondary-50: #eff9ff;
  --secondary-100: #dff4ff;
  --secondary-200: #cfeeff;
  --secondary-300: #bfe8ff;
  --secondary-400: #afe3ff;
  --secondary-500: #9eddff;
  --secondary-600: #8ed7ff;
  --secondary-700: #7ed1ff;
  --secondary-800: #6eccff;
  --secondary-900: #5ec6ff;

  /* colors */

  --primary-50: #800000;
  --primary-100: #922724;
  --primary-200: #9b111e;
  --primary-300: #b92e34;
  --primary-400: #bd2031;
  --primary-500: #b31b1b;
  --primary-600: #de1738;
  --primary-700: #ff0038;
  --primary-800: #ce2029;
  --primary-900: #cf352e;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --grey: #efefef;

  /* fonts  */
  --headingFont: "Roboto Condensed", Sans-Serif;
  --bodyFont: "Cabin", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
